@model Tuple<IEnumerable<SelectListItem>, IEnumerable<SelectListItem>, IEnumerable<SelectListItem>>

@{
    ViewBag.Title = "Index";
}

<style>
    fieldset{
        border:1px solid #ddd !important;
        margin:0;
        xmin-width:0;
        padding:0;
        position:relative;
        border-radius:4px;
        background-color:#f5f5f5;
        padding-left:10px !important;
    }

    legend{
        font-size:14px;
        font-weight:bold;
        margin-bottom:0px;
        width:35%;
        border: 1px solid #ddd;
        border-radius:4px;
        padding:5px 5px 5px 10px;
        background-color:#fff;
    }

</style>

<fieldset>
    <legend>
        Restaurant
    </legend>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    Customer :
                    @Html.DropDownList("Customer", new SelectList(Model.Item1, dataValueField: "Value", dataTextField: "Text"),
                   new { @class = "form-control" })
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    Payment Type :
                    @Html.DropDownList("PaymentType", new SelectList(Model.Item3, dataValueField: "Value", dataTextField: "Text"),
                   new { @class = "form-control" })
                </div>
            </div>

        </div>
    </div>

</fieldset>
